/* Global Reset */
html body {
  margin: 0px;
  padding: 0px;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 70px;
  background-color: yellow;
  margin: 0;
}

.navlinks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
}

.navlink {
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  padding: 5%;
  color: white;
  background-color: black;
}

.navlink div {
  height: 100%;
  width: 100%;
  text-align: center;
}

.logo-container {
  align-self: center;
}

.logo {
  width: 70%;
}

/* Banner */

.banner-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  object-fit: cover;
}

h1 {
  text-align: center;
  background-color: lightcoral;
  margin: 0;
}

/* Greeting */

#greeting {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: lightgray;
}

.img-container {
  width: 50%;
}

.img-container img {
  width: 100%;
  border: solid 2px;
  border-color: black;
}

.greeting {
  padding: 20px;
  background-color: white;
}

/* Projects */
#projects {
  background-color: yellow;
  margin: 0px;
}

#projects {
  padding: 3rem;
}

ul {
  margin: 0;
  background-color: white;
  padding: 2rem;
}

/* About Me */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  background-color: lightcoral;
}

#about img {
  width: 300px;
  border: solid 3px black;
}

#about div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: center;
  background-color: white;
  padding: 2rem;
  border: dotted 3px black;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

footer a {
  color: white;
}
